/* src/App.css */
.sidebar-open {
  width: 250px;
  transition: width 0.3s;
}

.sidebar-closed {
  width: 0;
  overflow: hidden;
  transition: width 0.3s;
}

@media (max-width: 768px) {
  .sidebar-open {
    position: absolute;
    z-index: 1000;
  }
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding-top: 100px;
}
